

.slidebar {
    position: relative;
    min-width: 15%;
    text-align: center;
    margin:4%;
   background-color: #fff;
}

.slidebar img {
    position: absolute;
    bottom: 5px;
    right: 10px;
    background-color: #16008B;
    border-radius: 50%;
    padding: 10px;
} 

.slidebar ul{
    text-align: left;
    margin-top: 20px;
    list-style: none;
    line-height: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
}